@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

a {
    text-decoration: none !important;
}

img {
    width: 100%;
}

ul {
    padding: 0;
    margin-bottom: 0 !important;
}

.container-main {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999999999999999999999999999999999999999999999999;
    background-color: #ffff;
}

.slider {
    margin-top: 80px;
}

.menu-main,
.navigation ul,
.account ul,
.search-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-main {
    position: relative;
    height: 80px;
    border-bottom: 1px solid #e7e8e9;
}

.menu {
    font-size: 18px;
    margin-right: 15px;
    padding: 15px 0;
    font-weight: 600;
}

img.logo {
    height: auto;
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.search {
    position: relative;
    display: flex;
}

.search-main {
    height: 40px;
    width: 240px;
    outline: none;
    border: 1px solid #e7e8e9;
    border-radius: 7px;
    padding-left: 40px;
    font-size: 14px;
}

.search-main::placeholder {
    color: #a09e9e;
    text-transform: uppercase;
}

.account ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-account {
    gap: 100px;
}

.button-search {
    height: 40px;
    width: 40px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account ul {
    gap: 12px;
    margin-right: 45px;
}

.account i {
    font-size: 20px;
    color: #000000;
    cursor: pointer;
}

.count-number {
    position: relative;
}

.number-shopping {
    position: absolute;
    top: -2px;
    right: -10px;
    width: 17px;
    height: 17px;
    background-color: red;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    font-size: 14px;

}

.sale-top ul {
    height: 40px;
    display: flex;
    margin-bottom: 25px;
}

.sale-top ul li {
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    width: 460px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


swiper-container.mySwiper {
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
    overflow: hidden;
    position: relative;
}

.slider-sipwer {
    position: relative;
}

.slider-sipwer::before {
    border: 1px solid #e7e8e9;
    box-sizing: border-box;
    border-radius: 90px 0px;
    padding: 13px 24px;
    position: absolute;
    content: "";
    bottom: 0;
    right: -14px;
    width: 100%;
    overflow: hidden;
    height: 93%;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.slider-img {
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
}

.title {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 600;
    text-align: center
}

.card-main {
    position: relative;
    height: auto;
    height: 100%;
}

.card-image-2 {
    display: none;
    transition: all .3s ease-in-out;
}

.card-image-main:hover .card-image-1 {
    display: none;
}

.card-image-main:hover .card-image-2 {
    display: block;
}

.style-card,
.price-product {
    height: 24px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-size: 16;
    font-weight: 600;
    color: #3e3e3f;
}

.style-card i {
    font-size: 18px;
    color: #6c6d70;
}

.name-card {
    color: #57585A;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.add-to-cart {
    width: 32px;
    height: 32px;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    background-color: #000000;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-to-cart:hover {
    background-color: #f7f8f9 !important;
    color: #221f20 !important;
    border-color: #221f20 !important;
}

.add-to-cart i {
    font-size: 20px;
    color: #ffffff;
}

.add-to-cart:hover i {
    color: #000 !important;
}

.item-new {
    position: absolute;
    top: 0;
    left: -6.4px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    background-image: url("/assets/images/item_new.png");
    background-repeat: no-repeat;
    padding: 7px 21px 7px 17px;
    border-top-right-radius: 20px;
}

.item-new::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #AC2F33;
    ;
    border-left: 7px solid transparent;
    bottom: -16px;
    left: 0px;
    z-index: 10;
}

.item-seller {
    position: absolute;
    top: 0;
    left: -6.4px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    background-image: url("/assets/images/item_seller.png");
    background-repeat: no-repeat;
    padding: 7px 21px 7px 17px;
    border-bottom-right-radius: 20px 25px;
}

.item-seller::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #D73831;
    border-left: 7px solid transparent;
    bottom: -16px;
    left: 0px;
    z-index: 10;
}

.see-all {
    width: 100%;
    height: 47.5px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.see-all h3 {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 13px 24px;
    font-size: 16px;
    border: 1px solid #221F20;
    color: #221F20;
}

img.BST {
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.sale-main {
    width: 100%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 50px;
}

img.sale {
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
}

.sale-1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.sale-1 a {
    width: 49%;
    height: auto;
}

img.sale1 {
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

.main-footer {
    display: flex;
    margin: 60px 0 25px 0;
}

.left-footer {
    width: 300px;
    margin-right: 70px;
}

.top-left,
.list-social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-social {
    margin: 24px 0 32px 0;
}

.social-network {
    width: 30px;
    height: auto;
    margin-right: 25px;
}

.hotline {
    text-align: center;
}

.hotline a {
    background: #221F20;
    border-radius: 16px 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #F7F8F9;
    padding: 12px 24px;
    font-family: 'Roboto', sans-serif;
}

h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #221F20;
    margin-bottom: 20px;
}

.center-footer {
    display: flex;
    justify-content: center;
}

.left-center {
    margin-right: 70px;
}

.left-center ul li a {
    font-size: 14px;
    line-height: 24px;
    color: #57585A;
    margin-bottom: 16px;
    display: block;
}

.right-footer {
    width: 321px;
    margin-left: 0px;
}

.register-form {
    background: #FFFFFF;
    border: 6px solid #E7E8E9;
    border-radius: 56px 0px;
    padding: 24px 16px;
    margin-bottom: 32px;
}

.title-footer {
    width: 221px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #221F20;
    margin-bottom: 5px;
}

.registration_card {
    display: flex;
}

.registration_card input {
    width: 155px;
    border: 0;
    border-bottom: 1px solid #e7e8e9;
    font-size: 14px;
    line-height: 24px;
    color: #221F20;
    padding: 0 0 12px 10px;
}

.btn-submit input {
    width: 122px;
    background: #FFF;
    border: 1px solid #221F20;
    box-sizing: border-box;
    border-radius: 24px 0px;
    margin-right: 0;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    color: #221F20;
    padding: 12px 27px;
}

img.link-white {
    width: 178px;
    height: 51px;
}

h6 {
    margin-top: 30px !important;
    font-size: 16px !important;
    color: #57585A !important;
    text-align: center;
    font-weight: 400 !important;
}

/* demo sup menu */
.menu {
    cursor: pointer;
}

.menu:hover .sup-menu {
    display: block;
}

.sup-menu {
    display: none;
    margin-top: 30px;
    padding: 24px;
    width: 100%;
    height: auto;
    background-color: #fff;
    border: 1px solid #e7e8e9;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 10;
}

.list-menu {
    display: flex;
}

.list-menu ul {
    display: block;
    margin-right: 70px;
}

h2 {

    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #221F20;
    display: block !important;
    margin-bottom: 24px !important;
    font-family: 'Montserrat', sans-serif !important;
}

.list-menu ul li a {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #67696b !important;
    display: block;
    margin-bottom: 16px;
    font-weight: 1;
    font-family: 'Montserrat', sans-serif !important;
}

.shopping-cart-icon {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #e7e8e9;
    min-width: 400px;
    height: 100vh;
    z-index: 99999;
    transition: right 0.3s ease;
}

.shopping-cart-icon.visible {
    right: 0;
}


.shopping-cart-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 20px;
    position: relative;
    border-bottom: 1px solid #F7F8F9;
    margin-bottom: 24px;
}

.cart-total-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-total-name span {
    background-color: #221F20;
    width: 25px;
    height: 25px;
    color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-left: 10px
}

.shopping-cart-total i {
    font-size: 30px;
    cursor: pointer;
}

.shopping-cart-product {
    max-height: calc(100vh - 75px - 240px);
    padding: 0 24px;
    /* overflow-y: auto; */
}

.img-card-item {
    width: 64px;
    height: 96px;
}

.cart-shopping-item {
    display: flex;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #F6F7F8;
}

.title-cart-shopping {
    padding-left: 12px;
    width: 286px;
}

.style-cart-item {
    display: flex;
}

.style-color-cart {
    display: flex;
    margin-right: 18px;
    font-size: 14px;
    line-height: 24px;
    color: #6C6D70;
    margin-bottom: 12px;
}

.style-size-cart {
    display: flex;
    margin-right: 18px;
    font-size: 14px;
    line-height: 24px;
    color: #6C6D70;
    margin-bottom: 12px;
}

.count-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.quantity {
    display: flex;
    border: 1px solid #e7e8e9;
    border-radius: 8px 0px;
}

.minus,
.plus {
    background: #FFFFFF;
    border: 1px solid #E7E8E9;
    border-radius: 8px 0px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px !important;
    color: #57585A !important;
    padding-bottom: 4px;
}

.value-display {
    font-size: 14px;
    color: #57585A;
    font-weight: normal;
    font-size: 14px !important;
    line-height: 16px;
    height: 24px;
    padding: 4px 0 !important;
    width: 28px;
    text-align: center;
}


.quantity button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.quantity button:focus,
.quantity .value-display:focus {
    outline: 2px solid #007bff;
}

.total-price-quan {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: #AC2F33;
}

.bot-shopping-cart-icon {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
}

.total-price-shopping {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    color: #525459;
    margin-bottom: 16px;
    padding: 0 24px;
    border-bottom: 1px solid #F6F7F8;
    margin-left: auto
}

.total-price-shopping a {
    font-size: 18px;
    line-height: 24px;
    color: #0A0A0B;
    font-weight: 600;
    text-align: right;
}

.view-cart {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: block;
    padding: 16px 0;
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF !important;
    background: #0A0A0B;
    border: 1px solid #0A0A0B;
}

.view-cart:hover {
    color: #0A0A0B !important;
    background: #ffffff !important;
}

.login-card {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: block;
    padding: 16px 0;
    text-align: center;
    margin-bottom: 20px;
    color: #0A0A0B;
    background: #FFF;
    border: 1px solid #0A0A0B;
}

.login-card:hover {
    color: #FFFFFF !important;
    background: #0A0A0B;
}

.image-cart-2 {
    display: none;
    transition: all .3s ease-in-out;

}

.cart-main:hover .image-cart-2 {
    display: block;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.cart-main:hover .image-cart-1 {
    display: none;
    cursor: pointer;
}

/* Chi tiết sản phẩm */


.cart-main {
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.cart-main:hover .style-add{
    top: 0; 
    transition: all .3s ease-in-out;
}

.cart-main:hover .cart-title{
    opacity: 0;
}

.bx-plus {
    /* position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); */
    font-size: 40px;
    padding: 10px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
}

.detail-plus {
    /* display: none; */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* .cart-main:hover .detail-plus{
    display: block;
}


.bx-plus:hover {
    background-color: red;
    color: #fff;
} */

.style-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 100%;
    transition: all .3s ease-in-out;
}

.add-to-ca {
    color: #fff !important;
    font-size: 20px;
    background-color: red;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.add-to-ca i {
    font-size: 23px;
}

.cart-main:hover .add-to-ca{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}


